html,
body {
  height: 100%;
  color: #666; }

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px; }

.wrap > .container {
  padding: 70px 15px 20px; }

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px; }

.jumbotron {
  text-align: center;
  background-color: transparent; }

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px; }

.not-set {
  color: #c55;
  font-style: italic; }

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px; }

a.asc:after {
  content: "\e151"; }

a.desc:after {
  content: "\e152"; }

.sort-numerical a.asc:after {
  content: "\e153"; }

.sort-numerical a.desc:after {
  content: "\e154"; }

.sort-ordinal a.asc:after {
  content: "\e155"; }

.sort-ordinal a.desc:after {
  content: "\e156"; }

.grid-view th {
  white-space: nowrap; }

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999; }

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0; }

.navbar {
  background: white;
  border-color: white;
  color: #666;
  margin-top: 5%; }
  .navbar a:hover {
    color: #eb0028 !important; }
  .navbar .navbar-brand {
    width: 176px;
    background: url(https://content.oneplus.net/skin/frontend/oneplus2015/default/images/invites/mail/logo-full.jpg) no-repeat; }
  .navbar .active a {
    background-color: transparent !important;
    color: #eb0028 !important; }
    .navbar .active a:hover {
      color: #eb0028 !important; }
  @media screen and (max-width: 768px) {
    .navbar .navbar-toggle {
      display: none; }
    .navbar .navbar-header {
      text-align: center;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
      .navbar .navbar-header .navbar-brand {
        display: inline-block;
        float: none; } }

.btn {
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px; }

.btn-primary, .btn-primary[disabled] {
  background-color: #eb0028;
  border-color: #eb0028;
  border-radius: 0; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled]:active:focus {
    background-color: #d70226;
    border-color: #d70226;
    outline: none; }

.form-group .form-control {
  border-radius: 0; }

.form-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center; }

.wrap {
  min-height: 100vh; }

.margin-top-medium {
  margin-top: 30%; }

.margin-bottom-medium {
  margin-bottom: 30%; }

.modal-open .modal {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.input-invite {
  margin: 0 1em;
}

.input-invite input {
  text-align: center;
  font-size: 1.5em;
  line-height: 60px;
  height: 60px;
  border-radius: 3px !important;
  color: #eb0028;
  text-transform: uppercase;
}

@media screen and (max-width: 400px) {
  .footer {
    height: auto; }

  .footer .container .pull-right, .footer .container .pull-left {
    width: 100%;
    text-align: center; } }

